*
{
    spacing: 0;
    padding: 0;
}

body
{
    background-color: #222;
    font-family: sans-serif;
}

@keyframes bounce {
    from {margin-left: -100vw;}
    to {margin-left: 0;}
}

#logo
{
    color:white;
    font-size: 36px;
}

.connecting
{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


.bar ul li
{
    list-style: none;
    background-color: #777;
    width: 10vw;
    border-top-right-radius: .5vw;
    color: #eee;
    padding: .7vw;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thin;
}

.bar .active
{
    border-left-color: gold;
    background-color: #ccc;
    color: black;
    border-left-width: .3vw;
    border-left-style: solid;
    box-sizing: border-box;
    border-bottom-color: #ccc;
}

.wrapper ul li:hover
{
    background-color: white;
    color: black;
    cursor: pointer;
}



#chatBar
{
    position: relative;
    left: 11vw;
}

#serverBar
{
    position: absolute;
    top: 3vw;
    left: 0;
}

#mainConsole
{
    position: relative;
    margin-top: -16px;
    left: 11vw;
    width: 87vw;
    height: 88vh;
    background: #CCC;
}

.bigGreenButton
{
    background-color: green;
    position: absolute;
    right: -11vw;
    bottom: -1vw;
    width: 4vw;
    text-align: center;
    color: #EEE;
    padding: .7vh;
    margin-top: 0;
}


.bigGreenButton:hover
{
    cursor: pointer;
}

#consoleInput
{
    position: relative;
    top: 1vw;
    left: 11vw;
    background: #CCC;
    width: 80vw;
    height: 3vh;
    border-style: solid;
    border-width: thin;
}

#chatbar ul li
{
    display: inline-block;
}

#right
{
    position: absolute;
    top: 0;
}
